/* AXES */
/* ticks */
.axis line {
    stroke: white;
    stroke-width: 1.5;
    shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
    stroke: white;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

/* axis text */
.axis text {
    fill: white;
    font-family: Georgia;
    font-size: 125%;
}

/* center axis contour */
.center-axis path {
    stroke: white;
    stroke-width: 1.5;
    shape-rendering: auto;
}

.line_label, .line_label1 {
    font-family: Georgia;
    font-size: 35%;
}

.dot_label, .dot_label1 {
    font-family: Georgia;
    font-size: 30%;
}

.legend, .legend1 {
    font-family: Georgia;
    font-size: 35%;
    text-anchor: start;
}

.legend_rect, .legend_rect1 {
    fill: white;
    stroke: white;
    stroke-width: 1;
    fill-opacity: 0;
}

.annotation_label, .annotation_label1 {
    fill: white;
    font-family: Georgia;
    font-size: 27%;
    text-anchor: end;
}

.annotation, .annotation1 {
    stroke: white;
    stroke-width: 1.5;
    stroke-dasharray: 5, 5;
}

.button {
    background-color: white;
    border: 1px;
    color: black;
    padding: 5px 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
}

label {
    display: inline;
}

.checkbox {
    display: none;
}

.checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.checkbox + label:active, .checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.checkbox:checked + label:after {
    content: '\2714';
    font-size: 17px;
    position: absolute;
    top: -7px;
    left: 1px;
    color: #615e5e;
}

.checkbox_label {
    font-size: 20px;
    font-family: sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 45%;
    height: 12px;
    border-radius: 3px;
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 8px;
}